#canvasWrap {
  background-color: #040857;
  width: 100%;
  height: 100%;
  border:8px solid #000000;
}

#earthDiv {
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 0;
}

#menuTreeDiv {
  position: absolute;
  top: 0%;
  width: 25%;
  height:100%;
  z-index: 5;
}

.menu-link {
  position: absolute;
  width: 83px;
  height: 83px;
  text-align: center;
  color: yellow;
  z-index: 6;
  background-color: transparent;

}

/* TOMBSTONE */
.tombstone {
  position: absolute;
  z-index: 3;
}
.tombstone img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.tombstone-engraving {
  position: absolute;
  left: 22%;
  top: 27%;
  width: 50%;

  color:white;
  text-align:center;
}

/* GHOST */
.ghost {
  position: absolute;
  z-index: 12;
}
.ghost img {
  position: absolute;
}
.ghost div {
  position: absolute;
}
.ghost-img {
  width: 100%;
  height: 100%;
}

.cover-img {
  left: 37%;
  top: 8%;
  width: 18%;
  height: 25%;
}

.title {
  font-family: "Comic Sans MS";
  left: 58%;
  top: 12%;
  width: 10%;
  height: 20%;
  text-align:center;
  font-weight: bold;
}

.body {
  left: 23%;
  top: 32%;
  width: 58%;
  height: 60%;
  overflow-y: scroll;
  color: black;
}

#ghostTemplate {
  position: absolute;
}

/* TREE */
#forestDiv {
  position: absolute;
  left: 10%;
  top: 45%;
  width: 90%;
  height: 15%;
  z-index: 1;
}
.tree {
  position: absolute;
}
.tree img {
  width: 100%;
  height: 100%;
}

/* FLOCK */
.flock {
  position: absolute;
  z-index: 7;
}
.flock img {
  width: 100%;
  height: 100%;
}

/* FOG */
#fogDiv {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 100%;
  height: 100%;
  z-index: 11;
  pointer-events: none;
}
#fogDiv img {
  position: absolute;
  width: 30%;
  height: 30%;
}

/* MOON */
#moonDiv {
  position: absolute;
  left: 85%;
  top: 3%;
  width: 15%;
  height: 20%;
}
#moonDiv img {
  width: 100%;
  height: 100%;
}

/* POST PAGE */
#post-page-wrap {
  background-color: black;
  background-image: url('/media/ghosts_colr.png');
  left: 0%;
  height: 0%;
  width: 100%;
  height:100%;
  border-style: solid;
}
#textDiv {
 position:absolute;
 left:45%;
 top:5%;
 width:50%;
 height:90%;
 background-color:#FFFFFF;
 padding:1%;
 overflow-y: scroll;
}
#imgDiv {
 position:absolute;
 left:20%;
 top: 15%;
 width:20%;
 height:60%;
}
#imgDiv img {
 width: 90%;
 height: 90%;
}
#ghost-links {
  position: absolute;
  left: 5%;
  top: 78%;
  width: 45%;
  height: 18%;
  border-color: white;
}
#ghost-links img {
  display: inline;
  width: 25%;
  height: 100%;
  margin-right: 3%;
}
.ghost-link-div {
  position: relative;
  display: inline;
}
.ghost-link-text {
  display: inline;
  position:absolute;;
  text-align: center;
  top: -450%;
  left: 25%;
  width: 50%;
}
#home-link {
  position: absolute;
  left: 5%;
  top: 20%;
  width: 10%;
  height: 15%;
}
#home-link img {
  width: 100%;
  height: 100%;
}

/* CATALOG */
#catalog-wrap {
  color: white;
}
.cat-link {
  color: white;
}
.cat-link:visited {
  color: gray;
}
